*{
    color: white;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);

}
.light{
    background: rgba(189, 38, 219, 0.144);
    width: 1700px;
    height: 800px;
    position: absolute;
    margin-left: 1px;
    margin-top: 0px;
    border-radius: 10px 5000px 10px 5000px ;
    filter: blur(121px);
    box-shadow: 1px 1px 30px blue;
}
header{
   margin: 0px;
   z-index: 99;
    align-items: center;
    flex-direction: row;
}
.lucas{
    color: rgba(225, 0, 255, 0.048);
    background-image: linear-gradient(to left ,rgb(255, 255, 255), rgb(137, 43, 226), rgb(247, 91, 117) ,#ff0a331a);
    background-clip: text;
    
}
.menu{
    z-index: 99;
    background-color: black;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
h1{
    margin-left: 90px;
    font-family: sans-serif;
    font-size: 40px;
}
ul{
    margin-right: 100px;
}
li{
    display: inline-block;
    margin: 20px;
    margin-top: 30px;
    width: 110px;
    padding: 10px;
    height: 20px;
    font-family: sans-serif;
    border-radius: 15px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
li:hover{
    color: rgb(225, 0, 255);
    cursor: pointer;

}
main{
    text-align: center;
    margin-top: 18%;
}

h2{
    font-size: 90px;
    font-family: sans-serif;
    line-height: 1px;
}
p{
    font-family: sans-serif;
}
.btn{
    margin-top: 50px;
    border: none;
    position: relative;
    width: 140px;
    font-family: sans-serif;
    overflow: hidden;
    padding: 10px;
    background-color: rgba(255, 0, 234, 0.26);
    border-radius: 10px;
    
    font-weight: bold;
    
}
.circulo{
    width: 0px;
    height: 0px;
    position: absolute;
    border-radius: 50%;
    
    background-image: linear-gradient(to left , blueviolet, rgb(247, 91, 117) ,#ff0a33);
    box-shadow: 1px 1px 10px red;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: height .5s , width .5s;
   
}
.texto {
    position: relative;
    z-index: 2;
    color: black;
    font-size: 20px;
}
.btn:hover .texto {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.btn:hover {
    cursor: pointer;
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.144),
    inset 2px 2px 10px rgba(255, 255, 255, 0.212);
   
}
.btn:hover .circulo{
    width: 300px;
    height: 300px;
    
    transition: height .7s , width .7s;
}
section{
    height: 1000px;
    text-align: center;
}

h3{
    position: absolute;
    -webkit-text-stroke: 1px blueviolet;
    background-image: linear-gradient(80deg, rgba(123, 8, 231, 0.911) 20%,rgba(0, 0, 255, 0)60%);
    background-clip: text;
     font-weight: bolder;
     margin-top: 390px;
     margin-left: 780px;
    text-align: center;
    color: rgba(109, 2, 248, 0);
    font-size: 90px;
    font-family: sans-serif;
}
p{
    width: 700px;
    margin: 0 auto;
}
#projetos{
    position: absolute;
    
    margin-top: 290px;
    
}
article{
    
    height: 900px;
    filter: saturate(300px);
   
}
.habilidade-top{
    margin-left: 100px;
    display: inline-flex;
}
.habilidade-bottom{
    margin-top: 90px;
    margin-left: 100px;
    display: inline-flex;
}
h4{
    background-image: linear-gradient(to left , black , white);
    background-clip: text;
    font-weight: lighter;
    margin-top: 20px;
    text-align: center;
    font-size: 90px;
    color: rgba(109, 2, 248, 0.267);
    font-family: sans-serif;
   
    
}
img{
    width: 90px;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 10px;
}
h5{
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 70px;
}
.box{
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: inline-block;
    font-family: sans-serif;
    padding: 30px;
    width: 250px;
    height: 300px;
    background-color: rgba(2, 2, 2, 0.925);
    box-shadow: 1px 1px 105px rgba(221, 0, 250, 0.096);
    border-radius: 20px;
    margin-left: 120px;
    
}
.linha1{
    display: inline;
    position: absolute;
    width: 250px;
    height: 10px;
    background-image: linear-gradient(to left , rgb(255, 153, 0),rgb(255, 174, 0));
}
.linha2{
    display: inline;
    position: absolute;
    width: 250px;
    height: 10px;
    background-image: linear-gradient(to left , rgb(0, 153, 255),rgb(17, 0, 255));
}
.linha3{
    display: inline;
    position: absolute;
    width: 250px;
    height: 10px;
    background-image: linear-gradient(to left , rgb(255, 0, 0),rgb(195, 0, 255));
}
.linha4{
    display: inline;
    position: absolute;
    width: 250px;
    height: 10px;
    background-image: linear-gradient(to left , rgb(174, 0, 255),rgb(73, 0, 95));
}