<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="media.css">
</head>
<body>
    <header>
        <div id="title">
            <h1>Marketing</h1>
            <h1>Criativo</h1>
        </div>
        <ul>
            <a href="#">
                <li>Inicio</li>
            </a>
            <a href="#">
                <li>Serviços</li>
            </a>
            <a href="#">
                <li>Sobre</li>
            </a>
            <a href="#">
                <li>Contato</li>
            </a>
            <a href="#" id="inscreva-se-botao">
                <li>Ja tem uma conta ?</li>
            </a>
        </ul>
    </header>
    <main>
        <aside>
            <h2><span>Increva-se agora</span></h2>
            <h2>na Newslatter</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos culpa rem ipsa perferendis in corrupti praesentium quam architecto est reprehenderit sit perspiciatis repudiandae dolores provident veritatis, at officia voluptatum nisi.</p>
            <form >
                <input type="text" name="" id="" placeholder="Nome">
                <input type="email" name="" id="" placeholder="Email" >
                <input type="submit" value="Enviar" >
            </form>
        </aside>
        <article>
            <img src="77d0a7c454e658833800528e748edbe9.png" alt="">
        </article>
    </main>
</body>
</html>