body {
    background: #e0e0e0; /* cor de fundo neutra e clara */
  }
.box{ 
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 700px;
    height: 800px;
    background-color: #ebf5fc);
    border-radius: 20px;
    box-shadow:
-2px -2px 5px rgba(255, 255, 255, 0.76),3px 3px 5px rgba(0,0,0,0.1)
}
  
.box2{ 
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width:650px;
    height: 750px;
    background-color: #ebf5fc);
    border-radius: 20px;
    box-shadow:
-2px -2px 5px rgba(255, 255, 255, 0.76),3px 3px 5px rgba(0,0,0,0.1)
}
  